.cvPreview-container {
  display: flex;
  flex-direction: column;
  width: 210mm;
  height: 297mm;
  position: sticky;
  top: 10px;
  gap: 1rem;
  box-shadow: 0px 5px 15px 5px rgb(0 0 0 / 50%);
  background-color: #fefeff;
}

.preview-header-container {
  background-color: #2e3d60;
  padding: 1rem 2rem;
  color: white;
}

.PreviewMain-container {
  display: flex;
  padding: 0 0.75rem;
  gap: 1rem;
  max-width: 210mm;
}

.PreviewContent-container {
  width: 70%;
  max-width: 150mm;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  overflow-wrap: break-word;
}

.PreviewContent-container h3 {
  text-align: center;
  background-color: #f1f1f5;
  color: #2e3d60;
}

.PreviewFotoCard-container {
  max-width: 60mm;
}

.PreviewFotoCard-container p {
  margin: 0;
  overflow-wrap: break-word;
}
.PreviewFotoCard-container h4 {
  margin: 0.25rem 0;
}

.PreviewFotoCard-container h3 {
  text-align: center;
  background-color: #f1f1f5;
  color: #2e3d60;
}

.PreviewFotoCard-container img {
  width: 200px;
  height: 200px;
  padding: 0.5rem;
}

h3,
h2 {
  padding: 0;
  margin: 0.5rem 0;
}

.education-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.preview-education-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.preview-experience-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.preview-experience-card-container .job-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
}

.preview-experience-card-container .job-container h4 {
  padding: 0;
  margin: 0;
}

.preview-education-card-container .university-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
}

.preview-education-card-container .university-container h4,
.preview-education-card-container .university-container p {
  padding: 0;
  margin: 0;
}
