.cvPreview-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
  box-shadow: 0px 5px 15px 5px rgb(0 0 0 / 50%);
  background-color: aqua;
  max-height: 90vh;
  position: sticky;
  top: 20px;
  flex-grow: 0;
}

.preview-header-container {
  background-color: blueviolet;
  padding: 2rem;
}

.PreviewMain-container {
  display: flex;
  flex-direction: row;
  min-height: 50%;
}

.PreviewContent-container {
  width: 70%;
}

.PreviewFotoCard-container {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.PreviewFotoCard-container img {
  height: 60%;
  padding: 0.5rem;
}

h3,
h4 {
  padding: 0;
  margin: 0.5rem 0;
}
